extends ../layout

block content
    h2 Title: #{book.title}
    p Author: #{book.author}
    if book.genre
        p Genre: #{book.genre}
    p Year Published: #{book.year}
    
    a(class="button" href="/books/" + book.id + "/update") Update this entry
    a(class="button" href="/books/" + book.id + "/delete") Delete this entry
    a(class="button" href="/books/") home
