extends ../layout 

block content
    p Are you sure you want to delete this book?
    h2 #{book.title}
        a(href='/') ← No! Take me back
        a(href="books/new", class="btn-new")  ← Yes, I'm sure &#43; 
