extends ../layout 

block content 
    h1 Search
    form(action="/books/search/" method="get")
    p
        input(type="input"  name="query" class="search" placeholder="search")
        input(type="submit" class="search_btn" name="search" value="Search")
    table
        thead
            tr
                th Title
                th Author
                th Genre
                th Year
        tbody 
        each book in books 
            if(books)
                tr
                    td
                        a(href="/books/" + book.id)= book.title
                    td= book.author
                    td= book.genre 
                    td= book.year

    a.button(href='/') Home
