extends layout

block content
  table
    tr
      th Id
      th Title
      th Author
      th Genre
      th Year
    tr
      td 1
      td A Brief History of Time
      td Stephen Hawking
      td Non Fiction
      td 1800
    tr
      td 2
      td Armada 				 
      td Ernest Cline   
      td Science Fiction   
      td 2015   
    tr 
      td 3
      td Emma 
      td Jane Austen   
      td Classic   
      td 1815               
    tr 
      td(href="book_detail.html")
      td Frankenstein               
      td Mary Shelley   
      td Horror   
      td 1818               
    tr 
      td(href="book_detail.html")
      td Harry Potter and the Chamber of Secrets              
      td J.K. Rowling   
      td Fantasy   
      td 1998               
    tr 
      td(href="book_detail.html")
      td Harry Potter and the Deathly Hallows             
      td J.K. Rowling   
      td Fantasy   
      td 2007               
    tr 
      td(href="book_detail.html")
      td Harry Potter and the Goblet of Fire               
      td J.K. Rowling   
      td Fantasy   
      td 2000               
    tr 
      td(href="book_detail.html")
      td Harry Potter and the Half-Blood Prince              
      td J.K. Rowling   
      td Fantasy   
      td 2005               
    tr 
      td(href="book_detail.html")
      td Harry Potter and the Order of the Phoenix               
      td J.K. Rowling   
      td Fantasy   
      td 2003               
    tr 
      td(href="book_detail.html")
      td Harry Potter and the Philosopher's Stone               
      td J.K. Rowling   
      td Fantasy   
      td 1997               
    tr 
      td(href="book_detail.html")
      td Harry Potter and the Prisoner of Azkaban               
      td J.K. Rowling   
      td Fantasy   
      td 1999               
    tr 
      td(href="book_detail.html")
      td Pride and Prejudice               
      td Jane Austen   
      td Classic   
      td 1813               
    tr 
      td(href="book_detail.html")
      td Ready Player One               
      td Ernest Cline   
      td Science Fiction   
      td 2011               
    tr 
      td(href="book_detail.html")
      td The Martian               
      td Andy Weir   
      td Science Fiction   
      td 2014               
    tr 
      td(href="book_detail.html")
      td The Universe in a Nutshell               
      td Stephen Hawking   
      td Non Fiction   
      td 2001
  
      //- a(type="button" href="/new", class="btn-new") Create Book  
