doctype html
html
  head
    h1=title
    title #{title}
    p Welcome to Books
    link(rel='stylesheet', href='/stylesheets/style.css')
  body 
    block content
 
          
           
script(src='../app.js')